# Ignore node_modules directory
node_modules/

# Ignore NestJS output directories
/packages/*/dist/
/packages/*/dist-server/

# Ignore Angular output directories
/packages/*/dist-client/

# Ignore environment files
/packages/*/.*.env

# Ignore logs
logs/
*.log

# Ignore build artifacts
*.swp
.DS_Store

# Ignore Secrets
**/.env

# Ignore IDE's files
.vscode/settings.json

## Angular ignore
# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
/node_modules
**/npm-debug.log
**/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
packages/client/.angular/cache
**/.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings

# System files
**/.DS_Store
**/Thumbs.db
